<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1>Views</h1>

        <div>
            <a th:href="@{/views/employeeDetails}">Employee Details</a><br>
            <a th:href="@{/views/cookedItemDetails}">Cooked Item Details</a><br>
            <a th:href="@{/views/menuItemDetails}">Menu Item Details</a><br>
            <a th:href="@{/views/orderDetails}">Order Details</a><br>
            <a th:href="@{/views/viewIngredientsPriceHistory}">View Ingredients Price History</a><br>
            <a th:href="@{/views/viewIngredientsSupplier}">View Ingredients Supplier</a><br>
            <a th:href="@{/views/viewLoyaltyProgramPoints}">View Loyalty Program Points</a><br>
            <a th:href="@{/views/viewMenu}">View Menu</a><br>
            <a th:href="@{/views/viewMenuItemsPriceHistory}">View Menu Items Price History</a><br>
            <a th:href="@{/views/viewReview}">View Review</a><br>
            <a th:href="@{/views/viewTableReservations}">View Table Reservations</a><br>
            <a th:href="@{/views/waiterAvgGrade}">Waiter Average Grade</a><br>
        </div>
    </div>
</div>