<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1>Waiter Average Grade</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Waiter ID</th>
                <th>Average Grade</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="waiter : ${waiterAvgGrade}">
                <td th:text="${waiter.id_waiter}"></td>
                <td th:text="${waiter.avg_grade}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>