<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1>Create Ingredients Price History</h1>
        <form method="post" action="/crud/ingredients/price-history">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" required><br><br>

            <label for="priceFrom">Price From:</label>
            <input type="text" id="priceFrom" name="priceFrom" required><br><br>

            <label for="priceTo">Price To:</label>
            <input type="text" id="priceTo" name="priceTo" required><br><br>

            <label for="ingredientsId">Ingredients ID:</label>
            <input type="number" id="ingredientsId" name="ingredientsId" required><br><br>

            <input type="submit" value="Create">
        </form>
    </div>
</div>