<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1>CRUD Operations</h1>
        <ul>
            <li><a href="/crud/waiters">Get All Waiters</a></li>
            <li><a href="/crud/managers">Get All Managers</a></li>
            <li><a href="/crud/chefs">Get All Chefs</a></li>
            <li><a href="/crud/employees">Get All Employees</a></li>
            <li><a href="/crud/clients">Get All Clients</a></li>
            <li><a href="/crud/suppliers">Get All Suppliers</a></li>
            <li><a href="/crud/ingredients">Get All Ingredients</a></li>
            <li><a href="/crud/ingredients/price-history">Get All Ingredients Price History</a></li>
        </ul>
    </div>
</div>