<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h2>Edit Client</h2>
        <form th:action="@{/crud/clients/{id}/update(id=${client.id_client})}" method="post">
            <label>Name:</label>
            <input type="text" name="name" th:value="${client.name}" required><br>
            <label>Email:</label>
            <input type="email" name="email" th:value="${client.email}" required><br>
            <label>Telephone Number:</label>
            <input type="text" name="telephoneNumber" th:value="${client.telephone_number}" required><br>
            <input type="submit" value="Update">
        </form>
    </div>
</div>