<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h2>Edit Ingredient</h2>

        <form th:action="@{/crud/ingredients/{id}/update(id=${ingredient.id_ingredients})}" method="post">
            <input type="hidden" id="id" name="id" th:value="${ingredient.id_ingredients}">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:value="${ingredient.name}" required>
            </div>
            <div>
                <label for="supplies">Supplies:</label>
                <input type="number" id="supplies" name="supplies" th:value="${ingredient.supplies}" required>
            </div>
            <button type="submit">Update</button>
        </form>

        <a th:href="@{/crud/ingredients}" class="btn btn-primary">Cancel</a>
    </div>
</div>