<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1>List of Function Procedures</h1>
        <ul>
            <li><a href="/functionProcedures/updateMenuItemPrice">Update Menu Item Price</a></li>
            <li><a href="/functionProcedures/checkIngredientAvailability">Check Ingredient Availability</a></li>
            <li><a href="/functionProcedures/getTopRatedWaiter">Get Top Rated Waiter</a></li>
            <li><a href="/functionProcedures/getAvailableTables">Get Available Tables</a></li>
            <li><a href="/functionProcedures/updateTableReservationStatus">Update Table Reservation Status</a></li>
            <li><a href="/functionProcedures/getWaiterAverageGrade">Get Waiter Average Grade</a></li>
            <li><a href="/functionProcedures/getAverageOrderPrice">Get Average Order Price</a></li>
            <li><a href="/functionProcedures/calculateTotalPaymentShift">Calculate Total Payment Shift</a></li>
            <li><a href="/functionProcedures/calculateTotalPayment">Calculate Total Payment</a></li>
        </ul>
    </div>
</div>