<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1>Generate Data Links</h1>
        <ul>
            <li><a href="/generateData/insertClients">Insert Clients</a></li>
            <li><a href="/generateData/insertLoyaltyPrograms">Insert Loyalty Programs</a></li>
            <li><a href="/generateData/insertReviews">Insert Reviews</a></li>
            <li><a href="/generateData/insertMenuItems">Insert Menu Items</a></li>
            <li><a href="/generateData/insertIngredients">Insert Ingredients</a></li>
            <li><a href="/generateData/insertIngredientsMenuItems">Insert Ingredients-Menu Items</a></li>
            <li><a href="/generateData/insertSuppliers">Insert Suppliers</a></li>
            <li><a href="/generateData/insertIngredientsSupplier">Insert Ingredients Supplier</a></li>
            <li><a href="/generateData/insertIngredientsPriceHistory">Insert Ingredients Price History</a></li>
            <li><a href="/generateData/insertMenuItemsPriceHistory">Insert Menu Items Price History</a></li>
            <li><a href="/generateData/insertCookedItems">Insert Cooked Items</a></li>
            <li><a href="/generateData/insertTables">Insert Tables</a></li>
            <li><a href="/generateData/insertTableReservations">Insert Table Reservations</a></li>
            <li><a href="/generateData/insertOrders">Insert Orders</a></li>
            <li><a href="/generateData/insertEmployees">Insert Employees</a></li>
            <li><a href="/generateData/insertWaiters">Insert Waiters</a></li>
            <li><a href="/generateData/insertChefs">Insert Chefs</a></li>
            <li><a href="/generateData/insertManagers">Insert Managers</a></li>
        </ul>
    </div>
</div>